<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to my Library</title>
  </head>
  <body>
    <h3>Find Out More!</h3>
    {{#model}}
        <div class="detail-book-item">
          {{title}} by: {{author}}
        </div>
        {{#seriesTitle}}
        <div class="detail-series">
          Part of the {{seriesTitle}} series.
          Other books include:
          {{#series}}
          <div class="detail-in-series">
            {{bookName}} #{{order}}
          </div>
          {{/series}}
        </div>
        {{/seriesTitle}}
      </form>
    {{/model}}
    <h3>Need to edit something?</h3>
    <form class="edit-book" action="/edit/{{_id}}" method="post">
      <div class="edit-title-div">
        <input type="text" name="editTitle" placeholder="Edit Title">
      </div>
      <div class="edit-author-div">
        <input type="text" name="editAuthor" placeholder="Edit Author's Name">
      </div>
      <div class="if-applicable">
        <p>*if applicable</p>
      </div>
      <div class="edit-series-title-div">
        <input type="text" name="edit-series-title" placeholder="Edit Series Title">
      </div>
      <div class="edit-series-bookname-div">
        <input type="text" name="edit-series-bookname" placeholder="Add or Edit the Title of Another Book in the Series">
      </div>
      <div class="edit-series-order-div">
        <input type="text" name="edit-series-order" placeholder="Add or Edit the Order of Another Book in the Series">
      </div>
      <div class="submit">
        <input type="submit" name="submit" value="Submit Changes">
      </div>
    </form>
  </body>
</html>
